@font-face {
  font-family: "Kalam";
  src: url(kalam-bold.ttf);
  font-weight: bold;
}

:root {
  --em-size: 16px;
  --font-stack: system-ui, sans-serif;
  --paper: white;
  --card: #eee;
  --card-hover: #dedede;
  --card-press: #cdcdcd;
  --pencil: #333;
  --disabled: #aaa;
  --accent: rebeccapurple;
  --border: rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme:dark) {
  :root {
    --paper: #1d1d1d;
    --card: #222;
    --card-hover: #282828;
    --card-press: #323232;
    --pencil: lightgray;
    --disabled: #777;
    --accent: pink;
    --border: rgba(255, 255, 255, 0.15);
  }
}

/*///////////////////////////////////////////////////
Minimal reset
///////////////////////////////////////////////////*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--font-stack);
}

img,
video,
figure,
iframe,
pre,
code,
blockquote {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*///////////////////////////////////////////////////
Minimal reset
///////////////////////////////////////////////////*/

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
} */

body {
  background-color: var(--paper);
  font-size: var(--em-size);
  color: var(--pencil);
}

nav {
  padding: 2rem 2rem 0 2rem;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  /* margin: 0 auto; */
}

h1 {
  font-family: "Kalam", system-ui, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--accent);
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

#appGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 42rem;
  width: 100%;

  margin: 0 auto;
}

#emailVerification {
  max-width: 30rem;

}

section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  background-color: var(--card);
}

video,
img {
  background-color: black;
  display: block;
  /* aspect-ratio: 4 / 3; */
  object-fit: contain;

  /* object-position: center; */
  /* max-width: 16rem; */
  width: 100%;
  height: 16rem;
  /* border-radius: 1rem; */
}

pre {
  display: block;
  padding: 1rem;
  width: 100%;
  height: 16rem;

  background-color: black;
  color: pink;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: 0.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
}

.progressContainer {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 8rem 1fr; */
  padding: 1rem 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.progressContainer p {
  display: block;
  width: 14rem;
  /* width: max-content; */
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

a,
a:link,
a:visited {
  color: var(--accent);
}

.success {
  background-color: var(--accent);
  color: var(--paper);
}

.success h1 {
  color: var(--paper);
}

.success a,
.success a:link,
.success a:visited {
  color: var(--paper);
}

button {
  width: fit-content;
  background-color: var(--card);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  color: var(--ink);
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--card-hover);
}

button:active {
  background-color: var(--card-press);
}

.disabled {
  color: var(--disabled);
}

progress {
  flex-grow: 1;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  background-color: var(--paper);
}

progress::-webkit-progress-bar {
  background: var(--paper);
  background-color: var(--paper);
  border-radius: 0.5rem;
  border: 0;
}

progress::-webkit-progress-value {
  background: var(--accent);
  background-color: var(--accent);
  border-radius: 0.5rem;
}

progress::-moz-progress-bar {
  /* style rules */
  background: var(--accent);
  background-color: var(--accent);
  border-radius: 0.5rem;
}

.stack {
  display: flex;
  position: relative;
  gap: 0.5rem;
}

.vertical {
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.horizontal {
  flex-direction: row;
  height: 100%;
}

.center {
  align-items: center;
  justify-content: center;
}

figure {
  display: inline-block;
  margin-right: 0.5rem;
}

@media(max-width: 960px) {
  .textContainer {
    padding: 2rem;
  }

  .progressContainer {
    padding: 2rem;
  }

  section {
    border-radius: 1rem;
  }

  #appGrid {
    max-width: 40rem;
  }
}

@media(max-width: 640px) {
  .textContainer {
    padding: 2rem;
  }

  .progressContainer {
    padding: 1rem;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  #appGrid {
    padding: 1rem;
    width: 100%;
  }
}